@model CarPooling.Models.Carpooling
@{
    ViewData["Title"] = "OfferingCarpooling";
}

<div class="container" style="margin-top:20px;">
    <form method="post" action="OfferingCarpooling">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">
                    Employee Name:
                </label>
                <input type="text" class="form-control" asp-for="EmployeeName" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    PS No.
                </label>
                <input type="text" class="form-control" asp-for="PsNo" placeholder="PS No.">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Email Id:</label>
                <input type="email" class="form-control" asp-for="EmailId" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    IC/Dept:
                </label>
                <input type="text" class="form-control" asp-for="Dept" placeholder="IC/Dept">
            </div>
        </div>
        <div class="form-group">
            <label for="">
                Address
            </label>
            <input type="text" class="form-control" asp-for="Address" placeholder="1234 Main St">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Mobile No.</label>
                <input type="number" class="form-control" asp-for="Mobile" placeholder="Mobile Number">
            </div>
            <div class="form-group col-md-6">
                <label for="">I am in possession of:</label>
                <select asp-for="Wheeler" class="form-control">
                    <option selected>Choose...</option>
                    <option>4 Wheeler</option>
                    <option>2 Wheeler</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Bording Point:</label>
                <input type="text" class="form-control" asp-for="BPoint" placeholder="Route">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    Route
                </label>
                <input type="text" class="form-control" asp-for="Route" placeholder="Route">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">
                    Leaving Time:
                </label>
                <input type="text" class="form-control" asp-for="LTime">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    Arriving Time:
                </label>
                <input type="text" class="form-control" asp-for="ATime">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">
                    No. of Pessengers can be accommodated:
                </label>
                <input type="number" class="form-control" asp-for="Person" placeholder="No. of Pessenger">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    Approximate Cost Per Person:
                </label>
                <input type="number" class="form-control" asp-for="Cost" placeholder="Cost Per Person">
            </div>
        </div>
        <div class="from-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>